* {
    box-sizing: border-box;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    color:black;
    font-size: 0;
}

html, body {
    margin: 0;
    padding: 3px;
}

p {
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.card {
    display: inline-block;
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: gray 0 0 10px;
    overflow: hidden;
}

.user {
    text-align: left;
    margin: 10px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    vertical-align: middle;
}

.username {
    line-height: 32px;
    vertical-align: middle;
    font-size: 14px;
    margin-left: 5px;
}

.macOS {
    background: #28C131;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    vertical-align: middle;
    float: right;
    margin-top: 8px;
    margin-right: 3px;
}

/* .hello {
    margin: 10px;
    margin-top: 5px;
} */

.neteasecloud {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 10px;
}

.intro {
    vertical-align: middle;
    color: #BA0400;
    font-size: 16px;
    margin-right: 5px;
}

/* .song {
    margin: 0 auto;
    width: 260px;
    font-size: 20px;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.singer {
    margin: 0 auto;
    width: 260px;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0.5;
    font-size: 16px;
} */

/* .cover {
    width: 300px;
    height: 300px;
    margin-top: 20px;
} */
.most-music {
    display: flex;
    padding: 10px;
}
.most-music .cover-box {
    position: relative;
    width: 198px;
    height: 198px;
    animation: rotation 25s linear infinite;
}
.most-music .cover-box img {
    position: absolute;
    top: 0;
    left: 0;
}
.most-music .cover-box .cover {
    width: 130px;
    height: 130px;
    margin: 34px;
}
.most-music .cover-box .msk {
    width: 100%;
    height: 100%;
}

@keyframes rotation {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.music-list {
    position: relative;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.song {
    margin: 0 auto;
    width: 260px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.singer {
    margin: 0 auto;
    width: 260px;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0.5;
    font-size: 14px;
}
.hello {
    position: absolute;
    top: 20px;
}